{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
<title>Settings</title>


{% block css %}

.main { margin-left:270px; padding:20px; }
input { display:block; margin-bottom:10px; padding:8px; width:300px; }
button {
  color: white;
  background-color: green;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
}
{% endblock css %}

</head>

<body>

{% block content %}
  <div class="main" style="padding:20px">
    <h2>System Settings</h2>
    <input type="text" placeholder="School Name">
    <input type="text" placeholder="Academic Year">
    <input type="email" placeholder="School Email">
    <button>Save Settings</button>
  </div>
{% endblock content %}
</body>
</html>

