<!DOCTYPE html>
<html>
<head>
<title>Settings</title>
<style>
body { font-family: Arial; background:#f4f6f9; margin:0; }
.sidebar { width:250px; background:#1e293b; color:#fff; height:100vh; position:fixed; padding:20px; }
.main { margin-left:270px; padding:20px; }
input { display:block; margin-bottom:10px; padding:8px; width:300px; }
</style>
</head>

<body>
<div class="sidebar">
  <a href="dashboard.html">Dashboard</a>
  <a href="settings.html">Settings</a>
</div>

<div class="main">
<h2>System Settings</h2>
<input type="text" placeholder="School Name">
<input type="text" placeholder="Academic Year">
<input type="email" placeholder="School Email">
<button>Save Settings</button>
</div>
</body>
</html>

